.side-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px; /* Full width when expanded */
    overflow-y: auto;
    transition: width 0.3s ease; /* Smooth transition for width change */
    border-right: 1px solid #ddd; /* Optional: Add a border to visualize the sidebar */
    transition: width 1s linear;
}

.side-nav-container.collapsed {
    width: 60px; /* Narrow width when collapsed */
}

.side-nav-content {
    color: black;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-start;
    overflow: hidden;
}

.side-nav-container.collapsed .nav-list-item span {
    display: none; /* Hide text labels when collapsed */
}

.nav-list-item i {
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
}

.nav-list-item span {
    text-transform: capitalize;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: black;
}
