<div class="modal-header">
    <h4 class="modal-title">Edit Attribute</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="attributeName">Attribute Name:</label>
        <input type="text" class="form-control" id="jobRole" name="jobRole" [(ngModel)]="job.jobRole">
      </div>
  

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>