<!-- Your existing HTML structure -->
<div class="container-fluid g-0">
    <app-requester-header (sideNavToggled)="sideNavStatus=$event;">
    </app-requester-header>
    <main class="d-flex">
      <app-requester-sidebar  [sideNavStatus]="sideNavStatus" [ngClass]="{'collapsed': !sideNavStatus}"
                             class="black-border side-nav-container"></app-requester-sidebar>
                             <div [ngClass]="{'display-area-expand': !sideNavStatus, 'display-area-shrink': sideNavStatus}"
                             class="display-area p-3 flex-grow-1">
        <div class="container">
         <div class="col">
         <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-1 stat text-center fw-bold p-2 m-2">
            100 XP
          </div>
          
          <div class="col-lg-1 stat text-center fw-bold p-2 m-2">
            {{userBalance}} <i class="bi bi-coin"></i>
          </div>
          <div class="col-lg-1"></div>
     
          <div class="row">
            <div class="col left-column"></div>
            <div class="col middle-column">
              <div class="banner-row">
                <img src="assets/img/banner.png" alt="Banner Image">
              </div>
              <div class="recommendation-row">
                <p class="fs-fw-bold fst-italic text-center">{{ this.username }}, {{'greeting' | translate}}</p>
                <h5>{{ 'welcome' | translate }}</h5>
                <!-- Recommendation content goes here -->
              </div>
              <div class="upcoming-events-row">
                <!-- Upcoming events content goes here -->
                hello
              </div>
            </div>
            <div class="col right-column"></div>
          </div>
         </div>
     
          
                <div class="badge-container">
                    <h3 class="text-center w-100">All Badges</h3>
                    <div class="row">
                      <div *ngFor="let badge of badges" class="col-6 col-md-3 mb-3">
                        <div>{{ badge.name }}</div>
                        <div class="badge-preview" [ngStyle]="{ 'background-color': badge.backgroundColor}">
                            <i class="bi" [ngClass]="badge.icon"></i>
                          </div>
                          
                        <div>{{ badge.rule }}</div>
                        <div>Threshold: {{ badge.threshold }}</div>
                      </div>
                    </div>
                  </div>
                  
            
          
        
          
         </div>
         
        </div>
      </div>
    </main>
  </div>
  