<section class="vh-100">
  <div class="topnav">
    <a href="#" class="ytms-logo">
      <img src="../../../assets/img/YTMS_LOGO 1.png" alt="YTMS Logo">
    </a>
  </div>
  <div class="container-fluid h-custom">
    <div class="row no-gutters h-100">
      <div class="col-lg-7 col-md-7 col-sm-12 image-container">
        <img src="assets/img/boy-with-laptop-light.png" alt="Maintenance Image" class="maintenance-image">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 code-container">
        <form [formGroup]="resetPasswordForm">
          <h3>Reset your account password</h3>
          <div class="form-group form-outline mb-3">
            <label>Password</label>
            <input type="password" formControlName="newPassword" class="form-control form-control-lg" />
            <div *ngIf="resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].invalid" class="text-danger small">
              <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">Password is required</span>
              <span *ngIf="resetPasswordForm.controls['newPassword'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters<br> Password cannot contain whitespace
              </span>
            </div>
          </div>
          <div class="form-group form-outline mb-3">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control form-control-lg" />
            <div *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].invalid" class="text-danger small">
              <span *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">Password is required</span>
              <span *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters<br> Password cannot contain whitespace
              </span>
              <span *ngIf="resetPasswordForm.hasError('passwordMismatch')">Password and confirm password do not match</span>
            </div>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="button" (click)="resetPassword(resetPasswordForm)" [disabled]="resetPasswordForm.invalid">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
