<section class="vh-100">
  <div class="topnav">
    <a href="#" class="ytms-logo">
      <img src="../../../assets/img/YTMS_LOGO 1.png" alt="YTMS Logo">
    </a>
  </div>
  <div class="container-fluid h-custom">
    <div class="row no-gutters h-100">
      <div class="col-lg-8 col-md-8 col-sm-12 image-container">
        <img src="assets/img/girl-verify-password-light.png" alt="Maintenance Image" class="maintenance-image">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 code-container">
        <form [formGroup]="changePasswordForm">
          <h3>Change your account password</h3>
          <div class="form-group form-outline mb-3">
            <label>Old Password</label>
            <input type="password" formControlName="oldPassword" class="form-control form-control-lg" />
            <div *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].invalid" class="text-danger small">
              <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">Password is required</span>
              <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters<br> Password cannot contain whitespace
              </span>
            </div>
          </div>
          <div class="form-group form-outline mb-3">
            <label>New Password</label>
            <input type="password" formControlName="newPassword" class="form-control form-control-lg" />
            <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].invalid" class="text-danger small">
              <span *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">Password is required</span>
              <span *ngIf="changePasswordForm.controls['newPassword'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters<br> Password cannot contain whitespace
              </span>
            </div>
          </div>
          <div class="form-group form-outline mb-3">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control form-control-lg" />
            <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].invalid" class="text-danger small">
              <span *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')">Password is required</span>
              <span *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter and at least 8 characters<br> Password cannot contain whitespace
              </span>
              <span *ngIf="changePasswordForm.hasError('passwordMismatch')">Password and confirm password do not match</span>
            </div>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="button" (click)="changePassword(changePasswordForm)" [disabled]="changePasswordForm.invalid">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
