<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <button (click)="openModal()">Open Modal</button>

  <div id="tabs" #tabs>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link"  [ngClass]="{ 'active':activeTab==='job'}" data-toggle="tab"
               (click)="search('job')">Job Details</a>
          </li>
      <li class="nav-item">
        <a class="nav-link active"  [ngClass]="{ 'active':activeTab==='resume'}" (click)="search('resume')"
           data-toggle="tab">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [ngClass]="{ 'active':activeTab==='cover_letter'}" data-toggle="tab"
           (click)="search('cover_letter')">Cover Letter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [ngClass]="{ 'active':activeTab==='interviews'}" data-toggle="tab"
           (click)="search('interviews')">Interviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [ngClass]="{ 'active':activeTab==='notes'}" data-toggle="tab"
           (click)="search('notes')">Notes</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div class="tab-pane" id="search" [ngClass]="{ 'active':activeTab==='search'}">
        search screen
        <button type="button" (click)="search('result')">Search</button>
      </div>
      <div class="tab-pane" id="resume" [ngClass]="{ 'active':activeTab==='resume'}">resume screen</div>
      <div class="tab-pane" id="cover_letter" [ngClass]="{ 'active':activeTab==='cover_letter'}">cover_letter screen</div>
      <div class="tab-pane" id="interviews" [ngClass]="{ 'active':activeTab==='interviews'}">interviews screen</div>
      <div class="tab-pane" id="notes" [ngClass]="{ 'active':activeTab==='notes'}">notes screen</div>
    </div>
  
  </div>