<section class="vh-100">
    <div class="row">
        <div class="col-lg-8 left-container">
            <img src="assets/img/girl-verify-password-light.png" alt="Maintenance Image" class="maintenance-image">
        </div>
        <div class="col-lg-4 right-container">
            <div class="topnav">
                <a href="#" class="ytms-logo">
                    <img src="../../../assets/img/YTMS_LOGO 17.png" alt="YTMS Logo">
                </a>
            </div>
        </div>
    </div>
</section>
