nav-header {
    height: 10%;
}
/* theme-dropdown.component.css */

.dropdown {
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff; /* White text */
  }
  
  .dropdown-menu {
    min-width: auto; /* Adjust as needed */
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa; /* Bootstrap dropdown item hover color */
  }
  .block-container{
    padding: 10px;
  }
  .doctor-card {
    width: 150px;
    cursor: pointer;
  }
  .doctor-card.border-primary {
    border-width: 2px;
  }
  
  .date-box {
    width: 60px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
  }
  .date-box.selected {
    background-color: #007bff;
    color: white;
  }
  
  .time-slot {
    width: 80px;
    padding: 8px;
    border-radius: 8px;
  }
  .time-slot.selected {
    background-color: #007bff;
    color: white;
  }
  