<div class="container-fluid g-0">
    <app-requester-header (sideNavToggled)="sideNavStatus=$event;">
    </app-requester-header>
  
    <main>
      <app-requester-sidebar [sideNavStatus]="sideNavStatus" class="black-border"></app-requester-sidebar>
      <div [ngClass]="{'display-area-shrink':!sideNavStatus}" class="display-area p-3">
        <div class="block-container">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <select class="form-select" [(ngModel)]="selectedTheme" name="themeSelect">
                <option [value]="'light'" [selected]="selectedTheme === 'light'">Light Theme</option>
                <option [value]="'dark'" [selected]="selectedTheme === 'dark'">Dark Theme</option>
              </select>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary" (click)="switchTheme()">Apply</button>
            </li>
          </ul>
        </div>
  
        <div class="block-container">
          <button class="btn btn-secondary">My Availability</button>
        </div>
  
        <div class="d-flex align-items-center mt-3">
            <!-- OpenAI Secret input -->
            <label for="openai-secret" class="me-2 mb-0" style="width: 150px;">Enter OpenAI Secret:</label>
            <input
              type="password"
              id="openai-secret"
              class="form-control me-2"
              [(ngModel)]="openaiSecret"
              placeholder="Enter chatgpt secret"
              style="max-width: 300px;"
            />
            <button class="btn btn-success" (click)="saveOpenAISecret()">Save Secret</button>
          </div>
          
          <div class="d-flex align-items-center mt-3">
            <!-- Gmail API Secret input -->
            <label for="gmail-secret" class="me-2 mb-0" style="width: 150px;">Enter Gmail API:</label>
            <input
              type="password"
              id="gmail-secret"
              class="form-control me-2"
              [(ngModel)]="gmailSecret"
              placeholder="Enter gmail secret"
              style="max-width: 300px;"
            />
            <button class="btn btn-success" (click)="saveGmailSecret()">Save Secret</button>
          </div>
          
 
      </div>
    </main>
  </div>
  