
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .whatsapp_float svg {
    fill: #fff; /* Ensure SVG color matches button background */
    width: 30px; /* Adjust size if necessary */
    height: 30px; /* Adjust size if necessary */
  }
  
  .whatsapp_form {
    position: fixed;
    bottom: 120px; /* Adjust as needed */
    right: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
  }
  
  .whatsapp_form form {
    display: flex;
    flex-direction: column;
  }
  
  .whatsapp_form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .whatsapp_form input,
  .whatsapp_form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .whatsapp_form button {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .whatsapp_form button:hover {
    background-color: #128c7e;
  }
  