.card {
    border: 1px solid #e0e0e0; /* Add a border to the card */
    border-radius: 5px; /* Rounded corners */
  }
  
  .card-title {
    font-size: 1.5rem; /* Increase title font size */
    font-weight: bold; /* Make title bold */
  }
  
  .card-text {
    font-size: 1rem; /* Standard font size for text */
  }
  
  /* Additional responsive styles */
  @media (max-width: 768px) {
    .card {
      margin: 10px; /* Adjust margin for smaller screens */
    }
  }
  

.correct {
    color: green; /* Color for correct options */
  }
  
  .wrong {
    color: red; /* Color for wrong options */
  }
  .dashboard {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  
  .stats p {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  /* question.component.css */
.options-container {
    display: flex;
    flex-direction: column;
  }
  
  .option-circle {
    display: flex; /* Flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between options */
  }
  
  .option-letter {
    width: 30px; /* Circle size */
    height: 30px; /* Circle size */
    border-radius: 50%; /* Circular shape */
    background-color: #fff; /* Circle background */
    border: 2px solid #000; /* Circle border */
    display: inline-flex; /* Inline flex to center text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-weight: bold; /* Bold text */
    margin-right: 10px; /* Space between letter and text */
  }
  
  /* Styles for the selected option */
  .option-circle.selected .option-letter {
    background-color: #00f; /* Blue background for selected */
    color: #fff; /* White text for selected */
  }
  
  /* Styles for correct and wrong answers */
  .option-circle.correct .option-letter {
    background-color: green; /* Green background for correct */
    color: #fff; /* White text for correct */
  }
  
  .option-circle.wrong .option-letter {
    background-color: red; /* Red background for wrong */
    color: #fff; /* White text for wrong */
  }
  /* Style for unanswered options */
.option-circle.unattempted .option-letter {
    background-color: gray; /* Gray background for unanswered */
    color: #fff; /* White text for unanswered */
  }
  /* Optionally add hover effects */
  .option-circle:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  