.correct {
    color: green; /* Color for correct options */
  }
  
  .wrong {
    color: red; /* Color for wrong options */
  }
  .dashboard {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  
  .stats p {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  