<div class="container-fluid g-0">
  <app-dash-header></app-dash-header>
  <main>
    <div [ngClass]="{'display-area-shrink':sideNavStatus}" class="display-area p-3">

<div class="p-3">
  <!-- Breadcrumb navigation -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item"><a href="quiz-test">Quiz</a></li> <!-- Link to forum homepage -->
           </ol>
  </nav>

  <div *ngFor="let question of questions; let index = index">
    <h4>Question {{ index + 1 }}:</h4>
    <app-question
      [question]="question"
      [questionIndex]="index"
      [selectedOptionIndex]="selectedOptions[index]"
      (previous)="moveToPreviousQuestion()"
      (next)="moveToNextQuestion()"
      (optionSelected)="handleOptionSelected($event)"
    ></app-question>
    
    <div *ngIf="quizSubmitted">
      <p *ngFor="let option of question.options; let i = index">
        <span [ngClass]="{'correct': isCorrectOption(index, getOptionLetter(option)), 'wrong': isSelectedOption(index, getOptionLetter(option)) && !isCorrectOption(index, getOptionLetter(option))}">
          {{ getOptionLetter(option) }}: {{ option[getOptionLetter(option)] }}
        </span>
      </p>
    </div>
  </div>
  
  <button [disabled]="!allQuestionsAnswered()" (click)="submitQuiz()">Submit</button>
  

</div></div></main></div>