.launch-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .small-email-input {
    width: 250px; /* Adjust the width as needed */
  }
  
  .button-container {
    margin-left: 10px; /* Adjust the margin as needed */
  }
  .maintenance-image-small {
    width: 450px;
    height: auto;
  }  