/* report-form.component.css */

.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.report-card {
  width: 30%;
  height: 15%;
   /* Example background color */
  border-radius: 10px; /* Example border radius */
  padding: 20px; /* Example padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

/* Adjustments for form elements within report-card */
.report-card .form-group {
  margin-bottom: 15px;
}

.report-card label {
  font-weight: bold;
}

.report-card input[type="text"],
.report-card input[type="number"],
.report-card textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.report-card button[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.report-card button[type="submit"]:hover {
  background-color: #0056b3;
}
