<div class="container-x">
  <button class="btn btn-primary add-job-btn" (click)="openModal()">
    <i class="fa fa-plus"></i> Add Job
  </button>
  <div class="job-container">
    <div class="row">
      <div class="col-2 job-column">
        <div class="job-card">
          <h5 class="card-header">Jobs</h5>
          <div class="header-sticky">
            <input type="text" placeholder="Search job" class="search">
            <input type="text" placeholder="Location" class="location">
            <button class="btn btn-primary" style="margin: 10px;">Search</button>
          </div>
          <div class="job-card-body" cdkDropList id="jobs" [cdkDropListConnectedTo]="['saved','applied', 'interview', 'offer']" [cdkDropListData]="jobs" (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let item of jobs">
              <ng-container *ngIf="item.jobRole && item.company">
                <div class="item" cdkDrag [cdkDragData]="item">
                  <div class="sb-card">
                    <div class="sb-card-header">
                      {{ item.jobRole }}
                    </div>
                    <div class="sb-card-body small-text">
                      {{ item.jobLocation }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="jobs.length === 0" class="empty-list">Drag here</div>
          </div>
          <div class="footer-sticky">
            <button class="btn btn-primary">Find more jobs</button>
          </div>
        </div>
      </div>
      <div class="col-10 other-column">
        <div class="row">
          <!-- Saved -->
          <div class="col-6 col-md-3 px-1">
            <div class="card">
              <h5 class="card-header">Saved</h5>
              <p class="small-text">Jobs saved from our chrome extension or the scan report will appear here</p>
              <div class="card-body" cdkDropList id="saved" [cdkDropListConnectedTo]="['applied', 'interview', 'offer','jobs']" [cdkDropListData]="saved" (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of saved">
                  <ng-container *ngIf="item.jobRole && item.company">
                    <div class="item job-item" cdkDrag [cdkDragData]="item">
                      <div class="job-role">{{ item.jobRole }}</div>
                      <div class="job-company">{{ item.company }}</div>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="saved.length >0" class="empty-list">Drag here</div>
              </div>
            </div>
          </div>
          <!-- Applied -->
          <div class="col-6 col-md-3 px-1">
            <div class="card">
              <h5 class="card-header">Applied</h5>
              <p class="small-text">Application completed. Awaiting response from employer or recruiter.</p>
              <div class="card-body" cdkDropList id="applied" [cdkDropListConnectedTo]="['saved', 'interview', 'offer']" [cdkDropListData]="applied" (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of applied">
                  <ng-container *ngIf="item.jobRole && item.company">
                    <div class="item job-item" cdkDrag [cdkDragData]="item">
                      <div class="job-role">{{ item.jobRole }}</div>
                      <div class="job-company">{{ item.company }}</div>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="applied.length >0" class="empty-list">Drag here</div>
              </div>
            </div>
          </div>
          <!-- Interview -->
          <div class="col-6 col-md-3 px-1">
            <div class="card">
              <h5 class="card-header">Interview</h5>
              <p class="small-text">Invited to interview? Record the interview details and notes here.</p>
              <div class="card-body" cdkDropList id="interview" [cdkDropListConnectedTo]="['saved', 'applied', 'offer']" [cdkDropListData]="interview" (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of interview">
                  <ng-container *ngIf="item.jobRole && item.company">
                    <div class="item job-item" cdkDrag [cdkDragData]="item">
                      <div class="job-role">{{ item.jobRole }}</div>
                      <div class="job-company">{{ item.company }}</div>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="interview.length >0" class="empty-list">Drag here</div>
              </div>
            </div>
          </div>
          <!-- Offer -->
          <div class="col-6 col-md-3 px-1">
            <div class="card">
              <h5 class="card-header">Offer</h5>
              <p class="small-text">Interviews completed. Negotiating offer, or waiting for employer response.</p>
              <div class="card-body" cdkDropList id="offer" [cdkDropListConnectedTo]="['saved', 'applied', 'interview']" [cdkDropListData]="offer" (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of offer">
                  <ng-container *ngIf="item.jobRole && item.company">
                    <div class="item job-item" cdkDrag [cdkDragData]="item">
                      <div class="job-role">{{ item.jobRole }}</div>
                      <div class="job-company">{{ item.company }}</div>
                    </div>
                  </ng-container>
                </ng-container>
                <div *ngIf="offer.length >0" class="empty-list">Drag here</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
