<section class="vh-100">
    <div class="topnav">
        <a href="#" class="ytms-logo">
            <img src="../../../assets/img/YTMS_LOGO 1.png">
        </a>
    </div>
    <div class="row">
        <div class="image-container">
            <img src="assets/img/girl-verify-password-light.png" alt="Maintenance Image" class="maintenance-image">
        </div>
        <div class="code-container">
            <form autocomplete="off" [formGroup]="resetPasswordForm">
                <!-- Right side content -->
                <h3 class="text-center">Reset your password</h3>
                <p>Enter your user account's verified email address and we will send you a password reset link</p>

                <div class="mt-2">
                    <input type="email" class="form-control" [class.is-invalid]="f['email'].invalid && (f['email'].touched || submitted)" name="email" formControlName="email" autocomplete="off" />
                    <div *ngIf="f['email'].errors && (f['email'].touched || submitted)">
                        <small *ngIf="f['email'].errors['required']" class="text-danger">{{MESSAGE_CONSTANTS.EMAIL_REQUIRED}}</small>
                        <small *ngIf="f['email'].errors['pattern']" class="text-danger">{{MESSAGE_CONSTANTS.EMAIL_PATTERN}}</small>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <button class="btn btn-success submitbutton" (click)="submitResetPasswordForm()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
