.vh-100 {
    height: 100vh;
  }
  
  .topnav {
    background-color: #005ba3;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }
  
  .button {
    background-color: #005ba3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  
  .ytms-logo img {
    width: 150px;
    height: 50px;
  }
  
  .form-control {
    font-size: medium;
  }
  
  .image-container {
    background-color: rgb(240, 242, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .code-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .maintenance-image {
    width: 300px;
    height: auto;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .image-container, .code-container {
      flex: 1 0 100%;
    }
    .maintenance-image {
      width: 200px;
    }
  }
  
  @media (max-width: 576px) {
    .topnav {
      text-align: center;
    }
    .ytms-logo img {
      width: 120px;
      height: 40px;
    }
    .maintenance-image {
      width: 150px;
    }
  }