.image-container {
    background-color: rgb(105, 169, 237);
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%; /* Full height */
    padding-bottom: 5px;
  }
  
  .two-step-auth-container {
    text-align: center;

  }
  
  .verification-code {
    margin-bottom: 20px;
  }
  
  .verification-code input {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    margin-right: 5px;
  }
  
  .verification-image {
    width: 400px;
    height: auto;
  }
  
  .code-container {
    padding-right: 30px;
    padding-top: 30px;
  }
  