.two-step-auth-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .verification-code {
    margin-bottom: 20px;
  }
  
  .verification-code input {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    margin-right: 5px;
  }
  