.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.topnav {
    background-color:  #005ba3;
    
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    
  }

 
  .button
  {
    background-color:  #005ba3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  } 

  .ytms-logo img {
    width: 150px;
    height: 50px;
  }

  .form-control
  {
    font-size: medium;
  }
  .calendar-container{
    padding-top: 10px;
  }
  .search-box{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .rectangle {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(12, 113, 191); /* Example border color */
  }
  
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .card {
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .nav-tabs .nav-link {
    font-weight: 600;
  }
  
  .nav-tabs .nav-link.active {
    color: #495057;
    border-color: #e0e0e0 #e0e0e0 #fff;
    font-weight: bold;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  .card h2 {
    font-size: 2rem;
    color: #343a40;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #343a40;
    border: none;
  }
  
  .btn-light {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .rounded-circle {
    object-fit: cover;
  }
  
  .text-muted {
    font-size: 0.9rem;
  }
  
  