<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner row mx-auto">
      <div class="carousel-item col-md-3 active">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jobscan saves me time</h5>
            <p class="card-text">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p class="card-text">Until ATS can be enhanced with semantic modeling, we are at the mercy of making sure we "strategy initiatives" on one resume... Read more</p>
            <p class="card-text"><small class="text-muted">Cole T. on Feb 7, 2024</small></p>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Good ATS Scanner</h5>
            <p class="card-text">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p class="card-text">UPDATE - I realized I made a mistake when I originally uploaded my resume. I didn't include a job description, I uploaded ... Read more</p>
            <p class="card-text"><small class="text-muted">Angelina A. on Jan 30, 2024</small></p>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p class="card-text">I like the app and I'm using it a lot. The power edit needs to be refined. I didn't like what it kicked back. Also when I ... Read more</p>
            <p class="card-text"><small class="text-muted">Barbara C. on Jan 9, 2024</small></p>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">This is worth the money!</h5>
            <p class="card-text">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p class="card-text">I had been applying for jobs but my resume was getting automatically rejected. After I started using this program and inco ... Read more</p>
            <p class="card-text"><small class="text-muted">Janeen S. on Dec 23, 2023</small></p>
          </div>
        </div>
      </div>
      <!-- Add more carousel items as needed -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
